@{
    ViewBag.Title = "AllocatedComplaints";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
<script>
    $(document).ready(function () {
        $('#active_jobs').addClass("active selected");
        $('#active_map_jobs').addClass("active");

    });
</script>
<script src="~/AngularJS/index.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG4Tc5v-7PBF4JO-6NKx2aX0xDNCZ4BVM&sensor=false&libraries=places"></script>

<style>
    #map {
        height: 400px;
        width: 100%
    }

    .ui-datepicker {
        z-index: 1051 !important
    }
    /*table */
    table {
        border-collapse: collapse;
    }

        table th, table td {
            padding: 3px;
        }

            table th:hover {
                cursor: pointer;
            }

    .arrow-down:after, .arrow-up:after {
        content: ' ';
        position: relative;
        left: 5px;
        border: 6px solid transparent;
    }

    .arrow-down:after {
        top: 12px;
        border-top-color: black;
    }

    .arrow-up:after {
        bottom: 15px;
        border-bottom-color: black;
    }

    .arrow-down, .arrow-up {
        padding-right: 10px;
    }

    .anchor_sorting {
        text-decoration: none;
        color: #fff !important;
    }

        .anchor_sorting:hover {
            color: #fff !important;
        }

    .btn-md-80 {
        width: 90px !important;
    }

    .error {
        color: red;
        border-color: red;
    }

    a.disabledInvisible {
        pointer-events: none;
        cursor: default;
    }

    .required_image {
        width: 7px;
        margin-top: -10px;
    }

    input[type='text'] {
        height: 30px;
    }

    .add-on {
        height: 100%;
    }

    .pagination {
        height: 40px;
        margin: 20px 0;
    }

        .pagination ul {
            display: inline-block;
            margin-left: 0;
            margin-bottom: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        }

            .pagination ul > li {
                display: inline;
            }

                .pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
                    border-left-width: 1px;
                    -webkit-border-radius: 3px 0 0 3px;
                    -moz-border-radius: 3px 0 0 3px;
                    border-radius: 3px 0 0 3px;
                }

                .pagination ul > li > a, .pagination ul > li > span {
                    float: left;
                    padding: 0 14px;
                    line-height: 38px;
                    text-decoration: none;
                    background-color: #ffffff;
                    border: 1px solid #dddddd;
                    border-left-width: 0;
                }

            .pagination ul > .active > a, .pagination ul > .active > span {
                color: #999999;
                cursor: default;
                background: gainsboro;
            }

    .gutter {
        margin-right: 0px;
        margin-left: 0px;
    }

    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 16px;
    }
</style>

<div class="wrapper" ng-controller="MapCTRL" ng-cloak>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Job Cards
                <small>View Assigned Jobs</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Jobs</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row text-center text-red">
                <b>{{ErrorResult}}</b>
            </div>
            <div class="row">
                <div id="map"></div>
            </div>
        </section>
    </div>
</div>



